/* MAIN SOURCES OFF STYLING AND VARIABLES */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
:root {
  --primary: #fffb00;
  --secondary: #2e0049;
  --third: #340434;
  --fourth: #3b091c;
  --shadow: 0px 2px 8px 0px var(--secondary-light);
}

/* GENERAL RESET */
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: 'Lemon/Milk', sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--secondary);
}

/* NAVIGATION BAR STYLING */
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: var(--secondary);
  padding: 0 8%;
  box-shadow: var(--shadow);
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 1000;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 150px;
  height: 100%;   
}

.navbar-logo img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.navbar h1 {
  padding-left: 10px;
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  margin: 0;
}

.navbar-link{
  display: flex;
  align-items: center;
}

.navbar-logo {
  cursor: pointer;
}

.navbar-list {
  width: 100%;
  text-align: right;
  padding-right: 2rem;
}

.navbar-list li {
  display: inline-block;
  margin: 0 1rem;
}

.navbar-list li a {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-list li a:hover {
    color: #fffb00;
}

.profile-dropdown {
  position: relative;
  width: fit-content;
}

.profile-dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  width: 150px;
  border-radius: 50px;
  color: #ffffff;
  /* background-color: white;
  box-shadow: var(--shadow); */

  cursor: pointer;
  border: 1px solid #fffb00;
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
    border 0.3s;
}

.profile-dropdown-btn:hover {
  background-color: var(--fourth);
  box-shadow: var(--shadow);
}

.profile-img {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: url(../images/about1.png);
  background-size: cover;
}

.profile-img i {
  position: absolute;
  right: 0;
  bottom: 0.3rem;
  font-size: 0.5rem;
  color: var(--green);
}

.profile-dropdown-btn span {
  margin: 0 0.5rem;
  margin-right: 0;
}

.profile-dropdown-list {
  position: absolute;
  top: 68px;
  width: 220px;
  right: 0;
  background-color: var(--secondary);
  border-radius: 10px;
  max-height: 0;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: max-height 0.5s;
}

.profile-dropdown-list hr {
  border: 0.5px solid var(--green);
}

.profile-dropdown-list.active {
  max-height: 500px;
}

.profile-dropdown-list-item {
  padding: 0.5rem 0rem 0.5rem 1rem;
  transition: background-color 0.2s ease-in, padding-left 0.2s;
}

.profile-dropdown-list-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
}

.profile-dropdown-list-item a i {
  margin-right: 0.8rem;
  font-size: 1.1rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: var(--secondary);
  color: var(--white);
  line-height: 2.3rem;
  text-align: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: margin-right 0.3s;
}

.profile-dropdown-list-item:hover {
  padding-left: 1.5rem;
  background-color: var(--secondary-light);
}

/* MAIN IMAGE STYLING */
.main-image {
    display: flex;
    align-items: center;  
    width: 100%;
    z-index: 1;
}

.main-image img {
    width: 100%;
}

/* VECTOR STYLING */
.vector {
    height: 400px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 2;
}

.between-vectors {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.between-vectors img {
    height: 40px;
    width: 40px;
}

.between-vectors h1 {
    color: var(--primary);
    font-size: 45px;
}

/* ABOUT US SECTION STYLING */
.about-us-container {
    display: flex;
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

/* First Grid */
.first-grid {
    display: block;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 400px;
}

.very-first-grid {
  display: block;
  width: 400px;
  height: 200px;
  text-align: start;
}

.very-first-grid p {
  padding-top: 10px;
  font-size: 14px;
  color: #ffffff;
}

.dice-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--primary);
  width: 110px;
  height: 30px;
  border-radius: 30px;
}

.h1-1 {
  color: var(--primary);
}

.h1-2 {
  color: white;
}

.dice-container p {
  font-weight: bolder;
  font-size: 16px;
  color: black;
  padding-bottom: 7px;
}

.very-second-grid {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  width: 400px;
  height: 200px;
}

.first-column, .second-column {
  display: grid;
  grid-template-columns: auto;
  width: 200px;
  height: 200px;
  align-content: center;
}

.captions {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 20px;
  width: 200px;
}

.checklist-container {
  display: flex;
  background-color: var(--primary);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.captions p {
  color: #ffffff;
  font-size: 11px;
}

/* Second Grid */
.second-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 400px;
    background-color: var(--primary);
}

.second-grid img {
    width: 450px;
    height: 350px;
}

/* FEATURES STYLING */

/* Features Caption Header */
.features-caps {
  display: block;
  justify-items: center;
  align-content: center;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 20px;
  height: 200px;
  text-align: center;
}

.features-caps h1 {
  color: var(--primary);
}

.features-caps p {
  margin-top: 15px;
  color: #ffffff;
  width: 600px;
  font-size: 15px;
}

/* Feature Captions */

.features-captions-container {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
  gap: 100px;
  width: 100%;
  height: 800px;
}

.captions1, .captions2, .captions3, .captions4, .captions5, .captions6 {
  display: block;
  justify-items: center;
  width: 350px;
  height: 350px;
  text-align: center;
  color: #ffffff;
} 

.captions1 h1, .captions2 h1, .captions3 h1, .captions4 h1, .captions5 h1, .captions6 h1 {
  font-size: 18px;
  margin: 20px;
} 

.captions1 p, .captions2 p, .captions3 p, .captions4 p, .captions5 p, .captions6 p {
  font-size: 13px;
  margin: 20px;
} 

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary);
  background-color: var(--primary);
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

/* ACHIEVEMENT STYLING */

.achievement {
  display: block;
  align-content: center;
  justify-items: center;
  width: 100%;
  height: 400px;
}

.achievement-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  width: 1000px;
  height: 250px;
  background-color: var(--third);
  border-radius: 20px;
}

.achievement1, .achievement2, .achievement3, .achievement4 {
  display: block;
  align-content: center;
  justify-items: center;
  width: 150px;
  height: 250px;
  text-align: center;
}

.achievement1 i, .achievement2 i, .achievement3 i, .achievement4 i {
  color: var(--primary);
}

.achievement1 h1, .achievement2 h1, .achievement3 h1, .achievement4 h1 {
  color: #ffffff;
  margin: 20px;
}

.achievement1 h2, .achievement2 h2, .achievement3 h2, .achievement4 h2 {
  color: white;
  font-size: 16px;
}

/* FEEDBACK STYLING */

.feedback-header-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  color: var(--primary);
}

.feedback-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 100%;
  height: 800px;
  padding-bottom: 1000px;
}

.feedback {
  display: block;
  background-color: var(--third);
  justify-content: flex-start;
  width: 300px;
  height: 300px;
  border-radius: 30px;
  text-align: left;
}

.feedback i {
  color: var(--primary);
  margin: 10px;
  margin-left: 20px;
}

.feedback p {
  color: #ffffff;
  font-size: 13px;
  margin: 10px;
  margin-left: 20px;
}

/* FOOTER STYLING */

.footer {
  display: block;
  align-content: end;
  width: 100%;
  height: 490px;
  background-image: url(../images/footerbg.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer-captions-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  height: 350px;
}

.about-us-footer {
  margin: 20px;
  width: 400px;
  height: 150px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}
