body {
    margin: 0;
    display: block;
    align-self: center;
    justify-content: center;
    background: url(../images/BG_Oron.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.form-group {
    margin-bottom: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
  }
  input {
    padding: 10px;
    border: none;
    border-radius: 30px;
    width: 300px;
  }
  button {
    background-color: #ffff00;
    color: #3d0063;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    width: 320px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
  }

  .link {
    color: darkgray;
  }

  .link:hover {
    color: white;
  }

  .login {
    background-color: #ffff00;
    color: #3d0063;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 320px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
  }

  .social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .social-icons a {
    color: #ffff00;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
  }
  .or-login {
    margin-top: 10px;
    font-size: 14px;
  }

  .ss {
    color: aliceblue;
  }

  h1 {
    color: yellow;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .overlay {
    position: fixed; /* Stretches the overlay over the container */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Black overlay with 50% transparency */
    opacity: 95%;
    background: linear-gradient(to bottom, 
    rgba(46, 0, 73, 0.8) 0%,   /* Solid red-orange with 100% opacity */
    rgba(59, 9, 28, 1) 70%, /* Peachy-orange with 60% opacity */
    rgba(10, 10, 10, 1) 100%  /* Light blue with 30% opacity */
    );
  }