* {
  font-family: 'Lemon/Milk', sans-serif;
}


body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("../../Styling/images/BG_Oron.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    border-radius: 15px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.9;
    background: linear-gradient(to bottom, 
        rgba(46, 0, 73, 0.8) 0%,   
        rgba(59, 9, 28, 1) 70%, 
        rgba(10, 10, 10, 1) 100%);
    z-index: -1;
  }

  .content {
    color: yellow;
  }

  .mnemonic {
    background-color: black;
    opacity: 0.5;
    height: 200px;
    border-radius: 20px;
    font-size: 25px;
    color: white;
  }