body {
    background-color: brown;
}


header {
    width: 1200px;
    max-width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
    justify-content: right;
}

header nav {
    display: flex;
    gap: 2rem;
    
}

header nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    
}