body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("../assets/img/BG_Oron.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  border-radius: 15px;
}

.form-group {
  margin-bottom: 15px;
  font-weight: bold;
}

input {
  padding: 10px;
  border: none;
  border-radius: 30px;
  width: 300px;
  font-size: 16px;
}

button {
  background-color: #ffff00;
  color: #3d0063;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 5px;
  width: 320px;
  font-size: 18px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.form-group label {
  display: block; /* Agar label berada di atas input */
  margin-bottom: 4px; /* Memberikan jarak antara label dan input */
  font-size: 16px;
  color: aliceblue;
}

.form-group input {
  padding: 12px; /* Menambah padding agar input lebih nyaman */
  margin-bottom: 5px; /* Memberikan jarak bawah antara input dan elemen berikutnya */
  border: 1px solid #ccc; /* Menambahkan border untuk definisi input */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Tambahkan sedikit bayangan */
  font-size: 16px;
}

.link {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: #ccc;
  text-decoration: none;
  margin: 0 5px;
  display: inline-block;
}

.link:hover {
  color: #fff;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  color: #ffff00;
  font-size: 16px;
  margin: 0 15px;
  text-decoration: none;
}

h1 {
  color: yellow;
  margin-bottom: 20px;
}

.or-login {
  margin: 10px 0;
  font-size: 14px;
  color: aliceblue;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.9;
  background: linear-gradient(to bottom, 
      rgba(46, 0, 73, 0.8) 0%,   
      rgba(59, 9, 28, 1) 70%, 
      rgba(10, 10, 10, 1) 100%);
  z-index: -1;
}
